.page-header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--portfolio-nav-border-color);
  }
  
  .page-header__container {
    display: flex;
    align-items: center;
  }
  